body {
    background: #eee;
}

.site {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

#logo {
    max-width: 240px;
    cursor: pointer;
}

.logo-container {
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .logo-container {
        text-align: left;
        margin-bottom: 0;
    }
}

.container--main {
    background: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 100%;
}

#eventListMenu {
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.filter--label {
    margin-top: 0.25rem;
}

.filter--buttons {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
}

#filterCategoryBtn {
    min-width: 100px;
}

#filterDropDown {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin-top: 0.5rem;
    position: absolute;
    width: 100%;
    top: 2rem;
    z-index: 99;
}

#messages {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#messages div {
    margin: 0;
}

.event-card, .form-card, .registrant-card {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #c0c0c0;
    border-radius: 0.5rem;
    position: relative;
}

.event-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .event-card {
        grid-template-columns: 240px 1fr;
        gap: 1.5rem;
    }
    .event-card--single {
        grid-template-columns: 1fr;
    }
}

.event-card--image img {
    width: 100%;
}

.event-card--featured {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    background-color: gold;
    color: #fff;
    border-radius: 50%;
}

.event-card--details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
}

.event-card--details p {
    margin: 0;
}

.event-card--description {
    margin-top: 0.5rem;
}

.event-card--close-button {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 700;
    background-color: #444;
    color: #fff;
    border: none;
}

.page-elements {
    display: grid;
    gap: 2rem;
}

.page-elements--event-list {
    grid-template-columns: 1fr;
}

.page-elements--event-single {
    grid-template-columns: 1fr;
}

@media (min-width: 992px) {
    .page-elements--event-single {
        grid-template-columns: 1.5fr 1fr;
    }
}

.registrant-card p {
    margin-bottom: 0.25rem;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group--right {
    justify-content: end;
}

.input-group + .input-group {
    margin-top: 0.25rem;
}

.form-label {
    min-width: 64px;
}

.form-control {
    border-radius: 0.5rem;
}

.buttonSet {
    margin-top: 0.5rem;
}

.alert {
    padding: 0.25rem 0.5rem;
}